.Role-Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcefff;

  .rl-login {
    display: flex;
    box-shadow: 4px 8px 16px grey;
    border-radius: 2vw;

    .rl-info {
      width: 32vw;
      padding: 25vw 18vw 8vw 4vw;
      color: white;
      border-bottom-left-radius: 2vw;
      border-top-left-radius: 2vw;
      background-size: auto;
      opacity: 96%;
      background-image: url("../../components/Images/2.gif");
      clip-path: polygon(0% 0%, 74% 0%, 89% 50%, 75% 100%, 0% 100%);

      h2 {
        margin-bottom: 2vw;
        font-size: 2vw;
      }
      .info {
        font-size: 1.2vw;
        margin-left: 4vw;
      }
    }
  }

  .rl-login-fields {
    text-align: center;
    width: 28vw;
    padding: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    background: white;
    margin-left: -14vw;
    /*https://bennettfeely.com/clippy/*/
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 24% 50%);

    h2 {
      margin-bottom: 8vw;
      margin-left: 5.6vw;
      font-size: 1.8vw;
    }

    input {
      border: 1.6px solid black;
      width: 100%;
      padding: 1vw 1vw 1vw 1.6vw;
      font-size: 1.2vw;
      border-radius: 0.4vw;
      box-shadow: 6px 6px 10px grey;
      margin-left: 7.4vw;
    }

    ::placeholder {
      font-weight: 600;
    }

    .username {
      display: flex;
      align-items: center;
      position: relative;

      .username-icon {
        width: 2vw;
        position: absolute;
        right: 4%;
      }
    }

    .password {
      margin-top: 2vw;
      position: relative;
      display: flex;
      align-items: center;

      .eye-icon {
        width: 1.8vw;
        position: absolute;
        right: 5%;
      }
    }

    .forgot-password-link {
      float: right;
      padding-top: 1vw;
      padding-right: 1vw;
      font-size: 1.2vw;
      text-decoration: none;
    }

    .forgot-password-link:hover {
      text-decoration: underline;
    }

    .roleLogin-button {
      margin-top: 8vw;
      padding: 1vw;
      width: 54%;
      border-radius: 2vw;
      font-size: 1vw;
      cursor: pointer;
      text-transform: uppercase;
      background: linear-gradient(33deg, red, blue);
      cursor: pointer;
      color: white;
      box-shadow: 10px 8px 16px grey;
      margin-left: 6vw;
    }
  }
}
