.image_popup {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index: 1000;
    @-webkit-keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 92%;
      }
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 92%;
      }
    }
  
    .overlay {
      width: 100vw;
      height: 100vh;
      position: absolute;
      background: rgba(0, 0, 0, 0.1);
    }
  
    .img-popup {
      background: white;
      width: 36vw;
      height: 25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      position: relative;
  
      .detected_popupimg {
        width: 38vw;
        margin-top: 4vw;
      }
  
      .exit {
        position: absolute;
        width: 1.6vw;
        top: 2%;
        right: 3%;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
  