.Menu {
  background: white;
  width: 4%;
  box-shadow: 3px 3px 8px grey;
  border-radius: 0.2vw;
  padding: 1vw 0;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 1vw;
  top: 5.4vw;
  position: fixed;
  z-index: 1;

  .Icons,
  .logout_icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
      width: 2.4vw;
      filter: drop-shadow(1px 1px 2px black);
    }

    .profile_hr {
      width: 2.8vw;
      margin-top: 1vw;
    }

    .menu_icon {
      width: 1.6vw;
      margin-top: 2vw;
      filter: grayscale(1);
      cursor: pointer;
      z-index: 1;
    }

    .logout_icon {
      filter: invert(1);
    }

    .hr {
      width: 2.8vw;
      margin-bottom: -1vw;
    }

    .activeRoute {
      .menu_icon {
        filter: hue-rotate(130deg);
      }
    }
  }

  .tooltip1 {
    width: 4vw;
  }
}
