.Dashboard {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .information {
    width: 1.8vw;
    opacity: 64%;
    cursor: pointer;
  }

  .dash {
    padding-bottom: 2vw;

    .dashboard {
      padding-left: 10vw;
      padding-top: 5vw;
      display: flex;
      flex-wrap: wrap;
    }

    .Graphs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 1vw;
      position: relative;
      padding-left: 7vw;

      .ttp {
        width: 2vw;
      }

      .barGraph {
        width: 36%;
        margin-bottom: 1vw;
        position: relative;

        .vehInOut {
          position: absolute;
          top: 2.8%;
          right: 30%;
        }

        canvas {
          display: block;
          box-sizing: border-box;
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .DoughnutGraph {
        width: 18%;
        position: relative;

        .activeInactiveCam {
          position: absolute;
          top: 2.8%;
          right: 2%;
        }

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .HorizontalGraph {
        width: 36%;
        margin-right: 3vw;
        position: relative;

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }

        .totalAlerts {
          position: absolute;
          top: 2.8%;
          right: 2%;
        }
      }

      .CrazyGraph {
        width: 57.6%;
        position: relative;

        .actAnalyzer {
          position: absolute;
          top: 2.8%;
          right: 2%;
        }

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .rangeBar {
        width: 32vw;
        box-shadow: 4px 4px 10px grey;
        padding: 1vw;
        margin-right: 2vw;
        margin-top: 3.4vw;
        position: relative;

        .progressBar {
          position: absolute;
          top: -10.2%;
          right: 2%;
        }

        .rangeBar_Header {
          font-size: 1vw;
          margin-top: -0.1vw;
        }
      }
    }
  }
}
