.Dashboard {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  .dash {
    padding-bottom: 2vw;

    .dashboard {
      padding-left: 10vw;
      padding-top: 5vw;
      display: flex;
      flex-wrap: wrap;
    }

    .Graphs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-size: 1vw;
      position: relative;
      padding-left: 7vw;

      .barGraph {
        width: 36%;
        margin-bottom: 1vw;

        canvas {
          display: block;
          box-sizing: border-box;
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .DoughnutGraph {
        width: 18%;

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .HorizontalGraph {
        width: 36%;
        margin-right: 3vw;

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .CrazyGraph {
        width: 57.6%;

        canvas {
          box-shadow: 3px 3px 8px grey;
          padding: 1vw;
        }
      }

      .rangeBar {
        width: 32vw;
        box-shadow: 4px 4px 10px grey;
        padding: 1vw;
        margin-right: 2vw;
        margin-top: 3.4vw;

        .rangeBar_Header {
          font-size: 1vw;
          margin-top: -0.1vw;
        }
      }
    }
  }
}
