.Table {
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.88vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  td,
  th {
    border: 1px solid #dddddd;
    padding: 6px;
    text-align: center;
  }

  th {
    padding: 1vw;
  }

  tr:nth-child(even) {
    background-color: #fff0f0;
  }
}
