.DashboardCard {
  box-shadow: 3px 3px 8px grey;
  border-radius: 1vw;
  margin: 0.6vw 3.6vw 1vw 0;
  width: 18vw;

  .topPart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2vw 0.6vw;

    .card_name {
      font-size: 1vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .information {
      width: 2vw;
      cursor: pointer;
      position: relative;
    }

    .tooltip {
      width: 14.4vw;
      border-radius: 0.6vw;
      font-size: 0.92vw;
      z-index: 1000 !important;
      opacity: 1;
    }
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;

    .card_icon {
      width: 3vw;
      height: 3vw;
      object-fit: contain;
    }

    .totalCount {
      .amount {
        font-size: 1vw;
        color: grey;
        padding-left: 1vw;
      }

      p:last-child {
        font-size: 1.6vw;
        margin-top: -0.2vw;
      }
    }
  }
}
