.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;

  .label {
    display: flex;
    align-items: flex-end;

    .bluedart-logo {
      width: 12vw;
    }

    .headingbtn {
      margin-left: 2vw;
      padding: 0.8vw 4vw;
      background: darkblue;
      color: white;
      font-size: 1.2vw;
      border-radius: 1vw;
    }
  }
  .user {
    .user-icon {
      width: 3vw;
      margin-right: 2vw;
      filter: drop-shadow(2px 2px 4px black);
      border: 1px solid black;
      border-radius: 2vw;
    }
  }
}
