.Anpr {
  .anpr {
    box-shadow: 3px 3px 8px grey;
    margin-left: 6.4vw;
    margin-right: 2vw;
    padding: 0vw 1vw 1vw 1vw;
    border-radius: 0.4vw;
    margin-top: 5.6vw;

    .baygates {
      display: flex;
    }

    .noData {
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6vw;
    }

    .anpr-pagination {
      margin-top: 3.8vw;
    }
  }
}
